<div class="titulo-registro">
  <h1>Únete a Workee</h1>
  <p>
    La plataforma que conecta candidatos con oportunidades laborales y ayuda a empresas a gestionar sus procesos de selección.
  </p>
</div>

<div class="registro-wrapper">
  <div class="nav-registro">
    <div class="container text-center">
      <div class="row">
        <div class="col d-flex flex-column align-items-center">
          <span class="material-symbols-outlined clickable-icon" [class.active-mode]="modo === 'candidato'" (click)="modo = 'candidato'">boy</span>
          <p>Candidato</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
          <span class="material-symbols-outlined clickable-icon" [class.active-mode]="modo === 'empresa'" (click)="modo = 'empresa'">domain</span>
          <p>Empresa</p>
        </div>
      </div>
    </div>
  </div>

  @if (modo === 'candidato') {
    } @else {
    <app-registro-empresa></app-registro-empresa>
  }
</div>