.registro-wrapper {
    background-color: #ffffff;
    padding: 3rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.titulo-registro {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 25px;
}

.nav-registro {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.clickable-icon {
    cursor: pointer; /* To indicate it's clickable */
    font-size: 48px; /* Adjust as needed for icon size */
    color: initial; /* Default color for icons */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.clickable-icon.active-mode {
    color: #31A5DD; /* Blue color when active */
}