<div class="listado-wrapper">
    <div class="listado-header">
        <div>
            <h1>Ofertas</h1>
            <p>Encuentra las mejores oportunidades laborales</p>
        </div>
    </div>

    <div class="buscador">
        <div class="input-search-wrapper">
            <input 
                type="text" 
                placeholder="Buscar..." 
                class="input-search"
                [(ngModel)]="textoOferta" />
            <button id="icon-button" (click)="buscarPorNombre(textoOferta)">
                <span class="material-symbols-outlined search-icon">search</span>
            </button>
        </div>
    </div>
    <div class="seccion-filtros">
        <div class="filtros">
            <p-multiselect
                [options]="filtrosUbicacion"
                placeholder="Ubicación"
                optionLabel="name"
                optionValue="idProvincia"
                [maxSelectedLabels]="0"
                [selectedItemsLabel]="'Ubicación ({0})'"
                class="filtro w-full md:w-80"
                [panelStyle]="{ 'background': '#fff' }"
                [(ngModel)]="filtrosSeleccionadosUbicacion">
            </p-multiselect>
            <p-multiselect
                [options]="filtrosTipoContrato"
                placeholder="Tipo de contrato"
                optionLabel="name"
                optionValue="id"
                [maxSelectedLabels]="0"
                [selectedItemsLabel]="'Tipo de contrato ({0})'"
                class="filtro w-full md:w-80"
                [panelStyle]="{ 'background': '#fff' }"
                [(ngModel)]="filtrosSeleccionadosTipoContrato">
            </p-multiselect>
            <p-multiselect
                [options]="filtrosModalidad"
                optionLabel="name"
                placeholder="Modalidad"
                optionValue="id"
                [maxSelectedLabels]="0"
                [selectedItemsLabel]="'Modalidad ({0})'"
                class="filtro w-full md:w-80"
                [panelStyle]="{ 'background': '#fff' }"
                [(ngModel)]="filtrosSeleccionadosModalidad">
            </p-multiselect>
            <!-- [options]="filtrosFecha" -->
            <!-- <p-autocomplete
            optionLabel="name"
            placeholder="Fecha de publicación"
            optionValue="id"
            class="filtro w-full md:w-80"
            [panelStyle]="{ 'background': '#fff' }"
            [(ngModel)]="filtrosSeleccionadosFecha"> 
            >
            </p-autocomplete> -->
            <p-select 
                [options]="filtrosFecha"
                [checkmark]="true" 
                optionValue="id"
                optionLabel="name" 
                [showClear]="true" 
                placeholder="Fecha de publicación"
                class="filtro w-full md:w-56"
                [(ngModel)]="filtrosSeleccionadosFecha">
            </p-select>
        </div>
        <div class="contenedor-boton">
            <button 
            [disabled]="!filtrosSeleccionadosUbicacion.length && !filtrosSeleccionadosModalidad.length && !filtrosSeleccionadosTipoContrato.length && !filtrosSeleccionadosFecha"
            class="boton"
            (click)="filtrarEmpresas()">
                Aplicar filtros
            </button>
        </div>
    </div>   
    <div class="listado-contenido row row-cols-1 row-cols-md-2 g-4">
        <div *ngIf="isLoading; else results">
            <app-spinner type="inline" message="Cargando resultados..."></app-spinner>
        </div>
        <ng-template #results>
        @if (ofertaList.length === 0) {
            <div class="sin-resultados">
                @if (!busquedaRealizada) {
                    <img src="assets\img\buscar.png" alt="Busca empresas" class="sin-resultados-img">
                    <p class="sin-resultados-txt">
                        Busca las ofertas que te interesan en Workee
                    </p>
                } @else {
                    <img src="assets\img\sin-resultados.png" alt="No hay resultados" class="sin-resultados-img">
                    <p class="sin-resultados-txt">
                        No encontramos ofertas que coincidan con tu búsqueda
                    </p>
                }
            </div>
        } @else {
            @for (oferta of obtenerOfertasPaginadas(); track $index) {
            <div class="tarjeta-oferta" role="button" (click)="irADetalle(oferta.id!)">
                <div class="logo-container">
                    <img 
                        [src]="oferta.empresa.usuario?.urlFotoUsuario"
                        alt="Logo de {{ oferta.empresa.nombreEmpresa }}" />
                </div>
                <div class="contenido">
                    <div class="oferta-header">
                    <h5 class="nombre-oferta">{{ oferta.titulo }}</h5>
                    <div class="publicacion-oferta">
                        <span class="material-symbols-outlined">schedule</span>
                        <p>Publicado: {{ oferta.fechaHoraAlta | date:'dd/MM/yyyy' }}</p>
                    </div>
                    </div>
                    <p class="rubro-ubicacion">
                    {{ oferta.empresa.nombreEmpresa }}
                    </p>
                    <p class="rubro-ubicacion">
                    {{ oferta.modalidadOferta.nombreModalidadOferta }} • {{ oferta.tipoContratoOferta.nombreTipoContratoOferta }}
                    </p>
                    <div class="ubicacion-oferta">
                    <span class="material-symbols-outlined">location_on</span>
                    <p>{{ oferta.empresa.provincia?.nombreProvincia }}, {{ oferta.empresa.provincia?.pais?.nombrePais }}</p>
                    </div>
                    <p class="descripcion-oferta">
                        {{ oferta.descripcion }}
                    </p>
                </div>
            </div>
            }
        }
        </ng-template>
    </div>
    
    <nav *ngIf="totalPaginas > 1">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="paginaActual === 1">
                <button class="page-link" (click)="retrocederPagina()">Anterior</button>
            </li>

            <li 
            *ngFor="let pagina of paginasMostradas"
            class="page-item"
            [class.active]="paginaActual === pagina"
            [class.disabled]="pagina === '...'">

            <ng-container *ngIf="pagina !== '...'; else puntos">
                <button class="page-link" (click)="irAPagina(+pagina)">
                {{ pagina }}
                </button>
            </ng-container>

            <ng-template #puntos>
                <span class="page-link">...</span>
            </ng-template>
            </li>

            <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                <button class="page-link" (click)="avanzarPagina()">Siguiente</button>
            </li>
        </ul>
    </nav>
</div>
