<!-- <div class="modal fade" id="modalRecuperar" tabindex="-1" aria-labelledby="modalRecuperarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRecuperarLabel">Recupera tu cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="recuperarForm">
          <div class="mb-3">
            <label for="emailRecuperacion" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="emailRecuperacion" formControlName="correo">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="enviarRecuperacion()">Enviar</button>
      </div>
    </div>
  </div>s
</div> -->