<nav class="navbar navbar-expand-lg" style="background-color: #31A5DD;">
  <div class="container-fluid">
    <a href="#">
        <img src="assets/logoWorkeeblanco.png" alt="Workee Logo" height="60px" class="d-inline-block align-top d-none d-md-block">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll align-items-center" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link text-white" href="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" type="button" (click)="iralogin()" >Iniciar sesión</a>
        </li>
        <li class="nav-item ms-2">
          <a class="btn btn-light text-primary fw-semibold rounded-pill px-4" href="/registro">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
