<div class="sidebar">
  <!-- Logo -->
  <div class="logo">
    <img src="assets/logoo.png" alt="Workee Logo" />
  </div>

  <!-- Menu -->
  <nav class="menu">
    <a href="#" class="menu-item">
      <span class="material-symbols-outlined">search</span>
      <span>Buscar</span>
    </a>

    <a href="#" class="menu-item">
      <span class="material-symbols-outlined">person</span>
      <span>Mi Perfil</span>
    </a>

    <a href="#" class="menu-item">
      <span class="material-symbols-outlined">notifications</span>
      <span>Notificaciones</span>
    </a>

    <a href="#" class="menu-item">
      <span class="material-symbols-outlined">chat_bubble</span>
      <span>Mensajes</span>
    </a>

    <a href="#" class="menu-item">
      <span class="material-symbols-outlined">card_giftcard</span>
      <span>Ofertas</span>
    </a>

    <a href="#" class="menu-item active">
      <span class="material-symbols-outlined">badge</span>
      <span>Empleados</span>
    </a>

    <a href="#" class="menu-item">
      <span class="material-symbols-outlined">query_stats</span>
      <span>Estadísticas</span>
    </a>
  </nav>

  <!-- Logout -->
  <div class="logout">
    <a href="#" class="menu-item">
      <span class="material-symbols-outlined">logout</span>
      <span>Cerrar Sesión</span>
    </a>
  </div>
</div>
