@if (cargandoPerfil) {
  <div class="spinner-pantalla-completa">
    <app-spinner type="overlay"></app-spinner>
  </div>
} @else {
  <div class="perfil-wrapper">
    <div class="perfil-header">
      <div>
        <h1>Mi perfil</h1>
        <p>Gestiona la información de tu empresa</p>
      </div>
      @if (!modoEdicion) {
        <button type="button" class="boton" (click)="modificarEmpresa()">
          <span class="material-symbols-outlined">edit</span>
          Editar
        </button>
      } @else {
        <button type="button" class="boton" (click)="volver()">
          <span class="material-symbols-outlined">arrow_back</span>
          Volver
        </button>
      }
    </div>
  
    <form [formGroup]="empresaForm">
      <div class="form-grid-logo">
        <div class="foto-seccion">
          <div class="foto-container">
            @if(cargandoFoto){
              <div class="spinner-overlay" *ngIf="cargandoFoto">
                <app-spinner type="inline"></app-spinner>
              </div>
            } @else {
              <img 
                [src]="fotoTemporal ||  empresa.usuario?.urlFotoUsuario" 
                alt="foto" 
                class="foto" 
              />
              @if (modoEdicion) {
                <label for="fileInput" class="icono-editar" title="Editar foto">
                  <span class="material-symbols-outlined icono-foto">photo_camera</span>
                </label>
                <input 
                  type="file"
                  id="fileInput"
                  accept="image/jpg, image/jpeg, image/png"
                  hidden
                  (change)="onFileSelectedFoto($event)" 
                /> 
              }
            }
          </div>
        </div>
        <div class="al-lado m-0 p-0">
          <div class="form-group">
            <label for="nombreEmpresa" class="p-0 my-0 mb-2">Nombre</label>
            <input 
              type="text"
              class="form-control"
              name="nombreEmpresa"
              formControlName="nombreEmpresa"
              [readonly]="!modoEdicion"
              [ngClass]="{ 'is-invalid': isCampoInvalido('nombreEmpresa') }"
              maxlength="50">
              @if (isCampoInvalido('nombreEmpresa')) {
                <div class="invalid-feedback">El campo “Nombre” no puede estar vacío</div>
              }
          </div>
          <div class="form-group">
            <label for="rubroEmpresa" class="p-0 my-0 mb-2 mt-3">Rubro</label>
            <select 
              class="form-select"
              id="rubroEmpresa"
              formControlName="rubroEmpresa"
              [disabled]="!modoEdicion"
              [compareWith]="compararRubros">
              @for (rubro of rubros; track rubro.id) {
                <option [ngValue]="rubro">
                  {{ rubro.nombreRubro }}
                </option>
              }
            </select>
          </div>
        </div>
        <div class="abajo m-0 full-width">
          <div class="form-group">
            <label for="telefonoEmpresa" class="p-0 my-0 mb-2">Teléfono de contacto</label>
            <input 
              type="number"
              class="form-control"
              name="telefonoEmpresa"
              [readonly]="!modoEdicion"
              formControlName="telefonoEmpresa"
              [ngClass]="{ 'is-invalid': isCampoInvalido('telefonoEmpresa') }"
              maxlength="20">
              @if (isCampoInvalido('telefonoEmpresa')) {
                <div class="invalid-feedback">El campo “Teléfono de contacto” no puede estar vacío</div>
              }
          </div>
          <div class="form-group">
            <label for="direccionEmpresa" class="p-0 my-0 mb-2">Dirección Legal</label>
            <input 
              type="text"
              class="form-control"
              name="direccionEmpresa"
              [readonly]="!modoEdicion"
              formControlName="direccionEmpresa"
              [ngClass]="{ 'is-invalid': isCampoInvalido('direccionEmpresa') }"
              maxlength="80">
              @if (isCampoInvalido('direccionEmpresa')) {
                <div class="invalid-feedback">El campo “Dirección Legal” no puede estar vacío</div>
              }
          </div>
          <div class="form-group">
            <label for="paisEmpresa" class="p-0 my-0 mb-2">País</label>
            <input 
              type="text"
              class="form-control"
              name="paisEmpresa"
              readonly
              [value]="empresa.provincia?.pais?.nombrePais">
          </div>
          <div class="form-group">
            <label for="provinciaEmpresa" class="p-0 my-0 mb-2">Provincia</label>
            <input 
              type="text"
              class="form-control"
              name="provinciaEmpresa"
              readonly
              [value]="empresa.provincia?.nombreProvincia">
          </div>
          <div class="form-group">
            <label for="emailEmpresa" class="p-0 my-0 mb-2">Correo Electrónico</label>
            <input 
              type="text"
              class="form-control"
              name="emailEmpresa"
              readonly
              [value]="empresa.usuario?.correoUsuario">
          </div>
          <div class="form-group">
            <label for="NIFEmpresa" class="p-0 my-0 mb-2">Número de identificación fiscal</label>
            <input 
              type="text"
              class="form-control"
              name="NIFEmpresa"
              readonly
              [value]="empresa.numeroIdentificacionFiscal">
          </div>
          <div class="form-group">
            <label for="descripcionEmpresa" class="p-0 my-0 mb-2">Descripción</label>
            <textarea 
              type="text"
              class="form-control"
              name="descripcionEmpresa"
              [readonly]="!modoEdicion"
              formControlName="descripcionEmpresa"
              [ngClass]="{ 'is-invalid': isCampoInvalido('descripcionEmpresa') }"
              maxlength="350"></textarea>
              @if (isCampoInvalido('descripcionEmpresa')) {
                <div class="invalid-feedback">El campo “Descripción” no puede estar vacío</div>
              }
          </div>
          <div class="form-group">
            <label for="sitioWebEmpresa" class="p-0 my-0 mb-2">Sitio Web Oficial (URL)</label>
            <input 
              type="text"
              class="form-control"
              name="sitioWebEmpresa"
              [readonly]="!modoEdicion"
              formControlName="sitioWebEmpresa"
              [ngClass]="{ 'is-invalid': isCampoInvalido('sitioWebEmpresa') }"
              maxlength="200">
              @if (isCampoInvalido('sitioWebEmpresa')) {
                <div class="invalid-feedback">El campo “Sitio Web Oficial (URL)” no puede estar vacío</div>
              }
          </div>
          <div class="form-group full-width">
            <label for="cambiarContrasenia" class="p-0 my-0 mb-2">Contraseña</label>
               <button
                  type="button"
                  class="boton-cambio-contrasenia"
                  [class.disabled-btn]="!modoEdicion"
                  [disabled]="!modoEdicion"
                  (click)="abrirModalContrasenia()" >
                  <span class="material-symbols-outlined">
                    {{ modoEdicion ? 'lock_open_right' : 'lock' }}
                  </span>
                  Cambiar contraseña
                </button>
            
          </div>
        </div>
      </div>
    </form>
    <div class="modo-edicion">
      @if (modoEdicion) {
      <button type="button" class="boton-eliminar" (click)="eliminarCuenta()">
        <span class="material-symbols-outlined">delete</span>
        Eliminar cuenta
      </button>
      <button type="button" class="boton-guardar ml-auto" (click)="enviarDatos()">
        <span class="material-symbols-outlined">save</span>
        Guardar cambios
      </button>
      }
    </div>
    </div>

}
