<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Crear nuevo rol</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismissModal()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="RolForm">
        <div class="mb-3">
          <label>Categoria</label>
            <select 
              class="form-select" 
              formControlName="categoriaRol" 
              [compareWith]="compararCategoria"
              (change)="buscarpermisosSegunCategoria()"
              >
              @for (categoria of categorias; track categoria.nombreCategoriaRol) {
                  <option [ngValue]="categoria">{{ categoria.nombreCategoriaRol }}</option>
              }
            </select>
        </div>
        <div class="mb-3">
            <label for="nombreEstado" class="col-form-label">Nombre</label>
            <input 
              required
              id="nombreRol"
              type="text"
              class="form-control"
              formControlName="nombreRol"
              placeholder="Ej: candidato"
              [ngClass]="{ 'is-invalid': isCampoInvalido() }">
            @if (isCampoInvalido()) {
              <div class="invalid-feedback">
                El campo “Nombre del rol” no puede estar vacío
              </div>
          }
        </div>
        <!-- <div class="mb-3">
          <label>Permisos</label>
          <select class="form-select" formControlName="permisosRol" [compareWith]="compararPermiso">
            @for (permiso of todosPermisos; track permiso.nombrePermiso) {
                <option [ngValue]="permisos">{{ permiso.nombrePermiso }}</option>
            }
          </select>
        </div> -->
        <!-- <div class="mb-3">
          <label>Permisos</label>
          <div *ngFor="let permiso of todosPermisos">
            <input 
              class="form-check-input"
              type="checkbox"
              [id]="'permiso' + permiso.id"
              [value]="permiso.id"
              (change)="onPermisoChange($event, permiso.id!)">
            <label class="form-check-label" [for]="'permiso' + permiso.id">
              {{ permiso.nombrePermiso }}
            </label>
          </div>
        </div> -->
        <div class="mb-3">
        <label>Permisos</label>
        <div class="permisos-container">
          <div *ngFor="let permiso of todosPermisos">
            <input 
              class="form-check-input"
              type="checkbox"
              [id]="'permiso' + permiso.id"
              [value]="permiso.id"
              (change)="onPermisoChange($event, permiso.id!)">
            <label class="form-check-label" [for]="'permiso' + permiso.id">
              {{ permiso.nombrePermiso }}
            </label>
          </div>
        </div>
      </div>

      <!-- <div class="mb-3">
        <label for="permisosRol" class="p-0 my-0 mb-2">Permisos <span class="required">*</span></label>
        <select 
            class="form-check-input"
            type="checkbox"
            [id]="'permiso' + todosPermisos.values"
            [value]="todosPermisos.values"
            formControlName="permisosRol" 
        >
        </select>
      </div> -->
     </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="dismissModal()">
          Volver
        </button>
        <button type="button" class="btn-guardar" (click)="enviarDatos()">
          Guardar
        </button>
    </div>
</div>
