<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Crear nuevo rol</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismissModal()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="RolForm">
        <div class="mb-3">
            <label>Categoria</label>
            <select class="form-select" 
                    formControlName="categoriaRol"
                    [ngClass]="{ 'is-invalid': isCategoriaInvalida() }"
                    (change)="buscarpermisosSegunCategoria()">
              @for (categoria of categorias; track categoria.id) {
                <option [ngValue]="categoria.id">{{ categoria.nombreCategoriaRol }}</option>
              }
            </select>
            @if (isCategoriaInvalida()) {
              <div class="invalid-feedback">
                Debe seleccionar una categoría
              </div>
            }
        </div>
        <div class="mb-3">
            <label for="nombreEstado" class="col-form-label">Nombre</label>
            <input 
              required
              id="nombreRol"
              type="text"
              class="form-control"
              formControlName="nombreRol"
              placeholder="Ej: candidato"
              [ngClass]="{ 'is-invalid': isCampoInvalido() }">
            @if (isCampoInvalido()) {
              <div class="invalid-feedback">
                El campo “Nombre del rol” no puede estar vacío
              </div>
          }
        </div>
        <div class="mb-3">
          <label>Permisos</label>
          <div class="permisos-container"
              formControlName="permisosRol" 
              [ngClass]="{ 'is-invalid': isPermisosInvalidos() }">
            <div *ngFor="let permiso of todosPermisos">
              <input 
                class="form-check-input"
                type="checkbox"
                [id]="'permiso' + permiso.id"
                [value]="permiso.id"
                (change)="onPermisoChange($event, permiso.id!)">
              <label class="form-check-label" [for]="'permiso' + permiso.id">
                {{ permiso.nombrePermiso }}
              </label>
            </div>
          </div>
          @if (isPermisosInvalidos()) {
            <div class="invalid-feedback">
              Debe seleccionar al menos un permiso
            </div>
          }
        </div>
     </form>
    <div class="modal-footer">
      <button type="button" class="btn-volver" data-bs-dismiss="modal" (click)="dismissModal()">
        Volver
      </button>
      <button type="button" class="btn-guardar" (click)="enviarDatos()">
        Guardar
      </button>
    </div>
</div>
