<div class="perfil-wrapper">
  @if (!esEmpleado) {
    <button type="button" class="boton" (click)="volverAListado()">
        <span class="material-symbols-outlined">arrow_back</span>
        Volver
    </button>
  }
  <div class="perfil-header" [class.mt-0]="esEmpleado">
    <div>
      @if (esEmpleado) {
        <h1>Mi perfil</h1>
      } @else {
        <h1>{{empleado.nombreEmpleadoEmpresa}} {{empleado.apellidoEmpleadoEmpresa}}</h1>
      }
      @if (!esEmpleado) {
        <p>Gestiona la información de tus empleados</p>
      } @else {
        <p>Gestiona tu información personal</p>
      }
    </div>
    @if (!modoEdicion) {
      <button type="button" class="boton" (click)="modificarEmpleado()">
        <span class="material-symbols-outlined">edit</span>
        Editar
      </button>
    } @else if (modoEdicion && esEmpleado) {
      <button type="button" class="boton" (click)="volverAListado()">
        <span class="material-symbols-outlined">arrow_back</span>
        Volver
      </button>
    }
  </div>
  <form>
  <div class="form-grid-logo">
    <div class="foto-seccion">
        <div class="foto-container">
          <div class="spinner-overlay" *ngIf="cargandoFoto">
            <app-spinner type="inline"></app-spinner>
          </div>
          <img 
            [src]="fotoTemporal || empleado.usuario?.urlFotoUsuario || 'assets/img/foto-perfil.png'" 
            alt="foto" 
            class="foto" 
          />
          @if (modoEdicion) {
            <label for="fileInput" class="icono-editar" title="Editar foto">
              <span class="material-symbols-outlined icono-foto">photo_camera</span>
            </label>
            <input 
              type="file"
              id="fileInput"
              accept="image/jpg, image/jpeg, image/png"
              hidden
              (change)="onFileSelectedFoto($event)" 
            /> 
          }
        </div>
      </div>
    <div class="al-lado m-0 p-0">
      <div class="form-group">
        <label for="nombreEmpleado" class="p-0 my-0 mb-2">Nombre</label>
        <input 
          type="text"
          class="form-control"
          name="nombreEmpleado"
          [(ngModel)]="empleado.nombreEmpleadoEmpresa"
          [readonly]="!esEmpleado || !modoEdicion">
      </div>
      <div class="form-group">
        <label for="apellidoEmpleado" class="p-0 my-0 mb-2 mt-3">Apellido</label>
        <input 
          type="text"
          class="form-control"
          name="apellidoEmpleado"
          [(ngModel)]="empleado.apellidoEmpleadoEmpresa"
          [readonly]="!esEmpleado || !modoEdicion">
      </div>
    </div>
    <div class="abajo m-0 full-width">
      <div class="form-group">
        <label for="puestoEmpleado" class="p-0 my-0 mb-2">Puesto</label>
        <input 
          type="text"
          class="form-control"
          name="puestoEmpleado"
          [(ngModel)]="empleado.puestoEmpleadoEmpresa"
          [readonly]="esEmpleado || !modoEdicion">
      </div>
      <div class="form-group">
        <label for="correoEmpleado" class="p-0 my-0 mb-2">Correo electrónico</label>
        <input 
          type="text"
          class="form-control"
          name="correoEmpleado"
          [value]="empleado.usuario?.correoUsuario"
          readonly>
      </div>
    
    @if (esEmpleado) {
      <div class="form-group">
        <label for="cambiarContrasenia" class="p-0 my-0 mb-2">Contraseña</label>
        <button
          type="button"
          class="boton-cambio-contrasenia"
          [class.disabled-btn]="!modoEdicion"
          [disabled]="!modoEdicion"
          (click)="abrirModalContrasenia()" >
          <span class="material-symbols-outlined">
            {{ modoEdicion ? 'lock_open_right' : 'lock' }}
          </span>
          Cambiar contraseña
        </button>
      </div>
    }
    </div>
  </div>
</form>
<div class="modo-edicion">
@if (modoEdicion) {
  @if (!esEmpleado) {
    <button type="button" class="boton-eliminar" (click)="eliminarCuenta()">
      <span class="material-symbols-outlined">delete</span>
      Eliminar cuenta
    </button>
  }  
    <button type="button" class="boton-guardar ml-auto" (click)="enviarDatos()">
      <span class="material-symbols-outlined">save</span>
      Guardar cambios
    </button>
  }
</div>