.listado-wrapper {
    background-color: #ffffff;
    padding: 3rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    max-width: 900px;
    margin: 3rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.listado-header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5rem;
}

.listado-header h1 {
  font-size: 1.8rem;
  margin: 0;
  color: #333;
}

.listado-header p {
  font-size: 0.95rem;
  color: #777;
  margin: 0;
}

.listado-contenido {
    padding: 6px;
    margin-top: 6px;
}

.card {
    border-radius: 8px;
}

.texto-nombre {
    font-size: 17px !important;
}

.boton-nuevo {
    background-color: #31A5DD;
    color: #ffffff;
    border: 2px solid #31A5DD;    
    border-radius: 8px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}
.paginador {
    margin-top: 24px;
}

