<div class="listado-wrapper">
    <div class="listado-header">
        <h2 class="titulo">Empleados</h2>
        <button type="button" class="boton-nuevo" (click)="crearEmpleado()">
            <span class="material-symbols-outlined">add</span>
            Nuevo Empleado
        </button>
    </div>
    <div class="listado-subtitulo">
        <p class="subtitulo">Gestiona a tus empleados</p>
        <p class="subtitulo">Empleados registrados: {{cantEmpleadosActivos}}</p>
    </div>
    <div class="listado-contenido row row-cols-1 row-cols-md-2 g-4">
        @for (empleado of obtenerEmpleadosPaginados(); track $index) {
            <div class="col">
                <div class="card d-flex flex-row align-items-center p-3" (click)="modificarEmpleado(empleado.id!)" role="button">
                    <img 
                    [src]="'assets/img/dique-potrerillos.jpg'" 
                    alt="{{empleado.nombreEmpleadoEmpresa}} {{empleado.apellidoEmpleadoEmpresa}}" 
                    class="rounded-circle me-3" 
                    width="64" 
                    height="64" />
                    <div>
                        <h5 class="texto-nombre mb-0">{{ empleado.nombreEmpleadoEmpresa }} {{ empleado.apellidoEmpleadoEmpresa }}</h5>
                        <p class="text-muted mb-0">{{ empleado.puestoEmpleadoEmpresa }}</p>
                    </div>
                </div>
            </div> 
        }
    </div>
    @if (totalPaginas > 1) {
        <nav class="paginador">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="paginaActual === 1">
                    <button class="page-link" (click)="retrocederPagina()">Anterior</button>
                </li>
        
                <!-- tuve que usar ngFor porque no me funcionaba solo con @for -->
                <li 
                *ngFor="let pagina of paginas"
                class="page-item" 
                [class.active]="paginaActual === pagina">
                    <button class="page-link" (click)="irAPagina(pagina)">
                        {{ pagina }}
                    </button>
                </li>
                <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                    <button class="page-link" (click)="avanzarPagina()">Siguiente</button>
                </li>
            </ul>
        </nav>
    }
</div>
