<h1>Ofertas de empleo</h1>
<p>Gestiona y visualiza todas las ofertas de empleo de tu empresa</p>

<div class="buscador">
  <div class="input-search-wrapper">
    <input
      type="text"
      placeholder="Buscar..."
      class="input-search"
      [(ngModel)]="textoOferta"
      (keyup.enter)="buscarPorNombre(textoOferta)" />
    <button id="icon-button" (click)="buscarPorNombre(textoOferta)">
      <span class="material-symbols-outlined search-icon">search</span>
    </button>
  </div>
</div>

<p>estado</p>

<div class="botones">
  <button type="button" class="btn btn-primary guardar" href="/crear-oferta">
    <span type="button" class="material-symbols-outlined">add</span>
    Crear oferta
  </button>
</div>

<div class="ofertas-grid">
  @for (oferta of ofertas; track oferta.id) {  <!-- usa la lista filtrada -->
    <article class="oferta-card" [ngClass]="estadoClase(oferta)" (click)="agregarEtapa()">
      <div class="oferta-card__head">
        <h3 class="oferta-card__title">{{ oferta.titulo }}</h3>
        <span class="pill" [ngClass]="estadoClase(oferta)">{{ estadoTexto(oferta) }}</span>
      </div>
      <p class="oferta-card__desc">
        {{ oferta.descripcion }}
      </p>
    </article>
  }
</div>
